/*
**************************
    GENERAl
**************************
*/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

h3 {
	margin: 0 0 1em 0;
}


/*
**************************
    HEADING
**************************
*/


header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}
/* STYLE BLOCK BELOW DEFINE TITLE UNDERLINE */
.h1-underline {
	position: relative;
	color: #fff;
}
.h1-underline:before {
	content            : "";
	position           : absolute;
	width              : 100%;
	height             : 2px;
	bottom             : -6px;
	left               : 0;
	background-color   : #FFF;
	visibility         : hidden;
	-webkit-transform  : scaleX(0);
	transform          : scaleX(0);
	-webkit-transition : all 0.3s ease-in-out 0s;
	transition         : all 0.3s ease-in-out 0s;
}
.h1-underline:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    margin: 15px;
	color: #fff;
    font-size: 1.75em;
    font-weight: normal;
	text-shadow: 1px 1px #595959;
    line-height: 0.8em;
}

h2 {
    font-size: 1em;
	text-shadow: 1px 1px #595959;
    margin: -5px 0 0;
    font-weight: normal;
}


/*
**************************
    Navigation
**************************
*/


nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
	text-shadow: 1px 1px #595959;
}

nav  a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 12px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav  a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


/*
**************************
    FOOTER
**************************
*/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 5px 0;
}

/*
**************************
    PAGE: PORTFOLIO
**************************
*/


#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #e3e6e8;
    color: #c8cdd0;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #6a757c;
}



/*
**************************
    ABOUT
**************************
*/


.profile-photo {
	display: block;
	max-width: 275px;
	margin: 0 auto 30px;
	border: solid #999 2px;
	border-radius: 100%;
	

}


/*
**************************
    CONTACT
**************************
*/


.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}


/*
**************************
    COLORS
**************************
*/


/* site body */
body {
	background-image: linear-gradient(#f2f2f2, #fff);
}

/* Green header */
header {

	background:   #5BC8AC;
	border-top: solid #324851 3px;
	width: 100%;
    /*border-color: #ccfff2;*/
}


/* nav background on mobile */
nav {
	float: right;
	background: #7DA3A1;
	border: #e6ffe6 solid 2px;
	width: 100%;
}

/* Logo text */
h1, h2 {
	color : #FFF;
}

/* links */
a {
    color: #999;
}

/* nav link */
nav a, nav a:visited {
    color: #fff;
	text-shadow: 1px 1px #595959;
}
/* Selected nav link */
nav a.selected, nav a:hover {
    color: #335966;
	text-shadow: 1px 1px #595959;
	position: relative;
	text-decoration: none;
}

.paragraph-background {
	background-color: #e6f2ff;
	padding: .5em .5em .5em .5em;
	display: table;

}








